.footer {
  background-color: #323232;
  color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 80px 8vw 20px; /* top | sides | bottom */
  margin-top: 100px;
}

.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 80px;
}
.footer-content-left,
.footer-content-right,
.footer-content-center {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.footer-content-left li,
.footer-content-right li,
.footer-content-center li {
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
}
.footer-content-right h2,
.footer-content-center h2 {
  color: white;
}
.footer-content-left li:hover,
.footer-content-center li:hover,
.footer-content-right li:hover {
  opacity: 0.7;
}

.footer-social-icons img {
  width: 40px;
  margin-right: 15px;
  cursor: pointer;
}
.footer-social-icons img:hover {
  opacity: 0.8;
}

.footer hr {
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background-color: gray;
  border: none;
}

.app-download {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 20px 0;
  text-align: left;
}
.app-download p {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
}
.app-download-platforms {
  display: flex;
  align-items: center;
  gap: 15px;
}
.app-download-platforms img {
  width: 150px;
  cursor: pointer;
  transition: 0.2s ease;
}
.app-download-platforms img:hover {
  transform: scale(1.05);
}

@media (max-width: 750px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  .app-download {
    flex-direction: column;
    text-align: center;
  }

  .app-download p {
    font-size: 18px;
  }

  .footer-social-icons img {
    margin-right: 10px;
  }
}
